body {
  font-family: "Open Sans", sans-serif;
  background-color: #a8a8a8;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
}

main {
  padding: 2rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-list li {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-self: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.rating {
  font-size: 1rem;
  color: #999;
  margin-bottom: 0.5rem;
}
