body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20% 20% 0 20%;
}
h1 {
  font-size: 30px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  justify-content: center;
  align-items: center;
}

input {
  margin-top: 1rem;
  height: 2rem;
  min-width: 300px;
  max-width: 500px;
}

button {
  margin-top: 1rem;
  height: 2rem;
}

.result-card {
  position: relative;
  margin-top: 2rem;
  background-color: white;
  padding: 1rem;
  display: none;
  font-size: 20px;
  font-weight: bold;
}

.result-card.show {
  display: block;
  z-index: 2;
}
